<template>
  <div class="admin-page">
    <section class="new-post">
      <AppButton @click="$router.push('/admin/new-post')">Create Post</AppButton>
      <AppButton style="margin-left: 10px" @click="onLogout">Log Out</AppButton>
    </section>
    <section class="existing-post">
      <h1>Existing Post</h1>
      <post-list isAdmin :posts="loadedPosts"/>
    </section>
  </div>
</template>
<script>
export default {
  middleware: "auth",
  layout: "admin",
  computed: {
    loadedPosts() {
      return this.$store.getters.loadedPosts;
    }
  },
  methods: {
    onLogout() {
      this.$store.dispatch("logout");
      this.$router.push("/admin/auth");
    }
  },
  head: {
    title: "Admin Page"
  }
};
</script>
<style scoped>
.admin-page {
  padding: 20px;
}

.new-post {
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.existing-posts h1 {
  text-align: center;
}
</style>
