<template>
  <div>
    <nuxt/>
  </div>
</template>

<script>
export default {
  middleware: "check-auth"
};
</script>

<style>
html {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

body {
  margin: 0;
}
</style>
