<template>
  <div class="about-page">
    <h1>This is a fantastic about page!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores assumenda consectetur consequatur sed.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores assumenda consectetur consequatur sed.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores assumenda consectetur consequatur sed.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores assumenda consectetur consequatur sed.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci asperiores assumenda consectetur consequatur sed.</p>
  </div>
</template>
<style scoped>
  .about-page {
    text-align: center;
    padding: 30px;
  }
</style>
