<template>
  <div>
    <input type="text" v-model="userId">
    <button @click="loadUser">Load User</button>
    <nuxt-child/>
  </div>
</template>
<script>
  import NuxtChild from "../.nuxt/components/nuxt-child";

  export default {
    components: {NuxtChild},
    data() {
      return {
        userId: ""
      }
    },
    methods:{
      loadUser(){
        this.$router.push('/users/'+this.userId);
      }
    },
    layout:'users'
  }
</script>
